snippet vale "Validator::extend(..."
Validator::extend('${1:name}', function($attribute, $value, $parameters, $validator) {
    $0
});
endsnippet

snippet valn "Validator::extend(..."
Validator::extend('${1:name}', function($attribute, $value, $parameters, $validator) {
    $0
});
endsnippet
